.root {
    background: #ffffff;
    max-width: 800px;
    margin: auto;
    padding: 16px;
    border-radius: 5px;
}

.miniRoot {
    background: #ffffff;
    max-width: 500px;
    margin: auto; 
}

.checkboxField {
    display: flex;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 900px) {
    .root {
        max-width: 500px;
    }
}