.root {
    background: #ffffff;
    max-width: 800px;
    margin: auto;
    padding: 16px;
    border-radius: 5px;
}

.miniRoot {
    background: #ffffff;
    max-width: 700px;
    margin: auto;
    padding: 15px;
    border-radius: 5px;
    min-height: 300px;
}

.checkboxField {
    display: flex;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 900px) {
    .root {
        max-width: 500px;
    }
}

.selected {
    border: 2px solid #000000;
}

.list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.button {
    margin: 15px auto;
    text-align: center;
}

.address {
    margin-right: 10px;
}