.root {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}
.root h3 {
    text-transform: uppercase;
}

.circle {
    width: 45px;
    height: 45px;
    border-radius: 100%;
    border: 1px solid red;
    text-align: center;
    line-height: 45px;
    font-size: 25px;
    color: red;
    margin-right: 10px;
}

