.cartElement {
    margin-bottom: 15px;
}

.input {
    width: 100%;
    padding-bottom: 0;
    padding-top: 20px;
    border: 1px solid #c2c2c2;
    font-size: 18px;
}

.buttons {
    text-align: center;
    max-width: 300px;
    margin: 15px auto;
}