.body {
    width: 100%;
    background: rgb(239 233 233);;
    padding: 15px;
    text-align: center;
    height: 400px;
}

.orderNumber {
    margin-left: 5px;
}

.textField {
    margin-top: 15px;
}