.root {
    display: flex;
    align-items: center;
    max-width: 200px;
}

.value {
    font-weight: 600;
    margin-right: 5px;
}

.value, .currency {
    font-size: 30px;
}

.discountedField {
    display: flex;
    align-items: center;
}

.discounted {
    color: red;
    white-space: nowrap;
}

.oldPrice {
    margin-left: 10px;
    text-decoration: line-through;
    white-space: nowrap;
}

.price {
    font-size: 16px;
    color: #000;
    white-space: nowrap;
}