.root {
    display: block;
    width: 100%;
}

.carousel {
    margin: auto;
}

.thumbnails {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dot {
}

.thumbnailImg {
    width: 100%;
    max-width: 150px;
    height: auto
}

.arrows {
    background: none;
    font-size: 35px;
    border: none;
}