.root {
    width: 100%;
}

.ratingField {
    width: 100%;
    text-align: center;
}

.commentField {
    width: 100%;
}

.comment {
    width: 100%;
}

.reviewField {
    background: #fff;
    border-radius: 4px;
    margin-top: 10px;
    padding: 4px;
}

.customer {
    font-size: 14px;
}