.root {
    width: 100%;
    max-width: 880px;
    background: #ffffff;
    margin-bottom: 20px;
    padding: 10px;
}

.topActions {
    display: flex;
    align-items: flex-start;
}

.rightActions {
    display: flex;
    align-items: flex-start;
}

.nameField {
    margin-left: 15px;
}

.nameField a, .nameField a:hover {
    color: #000000;
}

.summaryPrice {
    margin-left: 15px;
}

.summary {
    white-space: nowrap;
}

.title h3 {
    color: #000000;
    margin-left: 10px;
}

.image img {
    width: 100%;
    height: auto;
    max-width: 200px;
    min-width: 100px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.quantity {
    margin-left: 15px;
}

.quantityInput {
    width: 50px !important;
    height: 25px !important;
    font-size: 18px !important;
    line-height: 33px !important;
    text-align: center !important;
    -webkit-appearance: none !important;
}

.itemPrice {
    white-space: nowrap;
}

.propertyName {
    margin-bottom: 10px;
}

.bottomActions {
    display: flex;
    justify-content: flex-end;
}

.removeEdit {
    margin-right: 10px;
    display: flex;
    width: 100%;
    max-width: 60px;
    justify-content: space-around;
}

.remove i, .edit i {
    cursor: pointer;
}

.attribute {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.qtyNumber {
    text-align: center;
    display: flex;
    align-items: center;
    justify-self: center;
    margin-top: 15px;
}

.qty {
    margin-left: 5px;
    margin-right: 5px;
}

@media (max-width: 1000px) {
    .rightActions {
        display: block;
    }

    .price {
        margin-left: 15px;
    }

    .propertyName {
        margin-bottom: 0;
    }

    .price {
        display: grid;
        max-width: 300px;
        align-items: center;
        grid-template-columns: 1fr 1fr;
    }
    .quantity {
        display: grid;
        max-width: 300px;
        align-items: center;
        grid-template-columns: 1fr 1fr;
    }
    .summaryPrice {
        display: grid;
        max-width: 300px;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        margin-top: 15px;
    }

}

@media (max-width: 600px) {
    .root {
       max-width: 400px;
       max-height: 100%;
       padding: 10px 0;
       text-align: center;
    }
   
    .attribute {
        justify-content: center;
    }

    .image {
        padding: 15px;
    }

    .image img {
        width: 100%;
        height: auto;
        max-width: 400px;
    }

    .quantity {
        margin-top: 15px;
    }

    .topActions {
        display: block;
    }

    .summaryPrice {
        margin-top: 15px;
    }

    .attributeField {
        display: flex;
        justify-content: center;
    }    
}
