.root {
    background: #ffffff;
    padding: 20px;
    max-width: 400px;
}

@media (max-width: 600px) {
    .root {
        padding: 10px 10px;
    }
}

@media (max-width: 800px) {
    .root {
        max-width: unset;
    }
}


.title h2 {
    margin: 0;
    text-align: center;
}

.subTotal, .shipping, .orderTotal {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.summaryPrice {
    font-weight: 800;
}

.button {
    text-align: center;
    margin-top: 15px;
}

.line {
    margin-top: 20px;
}

.orderTotal {
    margin-top: 10px;
}