.root {
    width: 100%;
    max-width: 270px;
    max-height: 170px;
    border: 2px solid #c4c4c4;
    border-radius: 4px;
    padding: 15px;
    margin-bottom: 15px;
}

.row {
    display: flex;
    align-items: center;
    width: 100%;
    margin: auto;
    margin-bottom: 15px;
}

.columnTitle {
    color: #878787;
    font-size: 16px;
}

.columnValueField {
    margin-left: 15px;
}

.columnValue {
    color: #000000;
    font-size: 16px;
}

.actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: auto;
}

.buttons {
    cursor: pointer;
}

@media (max-width: 700px) {
    .root {
        max-width: 500px;
        margin: auto;
        margin-bottom: 15px;
    }
    
}