.tabs {
    width: 100%;
}

.body {
    width: 80%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin-top: 30px;
    height: 100%;
}

.addresses {
    width: 100%;
    background: #fff;
    padding: 15px;
}

.list {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
    grid-template-rows: 240px;
    margin-left: 15px;
}

.addAddressField {
    width: 100%;
    max-width: 270px;
    height: 205px;
    border: 2px solid #c4c4c4;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 240px;
    max-height: 240px;
}

.plusIconField {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #c4c4c4;
}

.plusIcon {
    font-size: 45px !important;
    margin-bottom: -26px !important;
    margin-right: -1px !important;
}

@media (max-width: 1200px) {
    .list {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 850px) {
    .list {
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media (max-width: 700px) {
    .body {
        display: block;
    }

    .tabs {
        margin-bottom: 15px;
    }

    .list {
        display: block;
        margin-left: 0;
    }

    .addAddressField {
        max-width: unset;
    }
}