.root {
    width: 100%;
    
}

.body {
    max-width: 1600px;
    margin: auto;
}

.banners {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 25px;
    margin-top: 80px;
}

.salesTitle {
    text-align: center;
    margin-top: 32px !important;
    margin-bottom: 32px;
}

.newBody {
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-top: 32px;
    column-gap: 32px;
}

.newCollection {
    margin-top: 62px;
}

.sales {
    margin-top: 78px;
}

.newTitleField {
    text-align: center;
}

.newTitle {
    font-size: 32px;
    color: #18564d;
}

@media screen and (max-width: 800px) {
    .newBody {
        display: grid;
        grid-template-columns: 1fr;
    }
}