.root {
    background: #18564d;
    padding: 15px 0;
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 10px;
}

.search {
    justify-self: center;
    width: 100%;
    max-width: 300px;
}

.searchMobile {
    justify-self: center;
    max-width: 100%;
    
}

.searchMobile i {
    font-size: 20px;
}

.signin {
    justify-self: end;
    margin-right: 16px;
}

.wishlist a {
    color: #00ff50;
}

.wishlist {
    font-size: 18px;
    white-space: nowrap;
    cursor: pointer;
    justify-self: end;
    margin-right: 20px;
}

.cart {
    justify-self: end;
    margin-right: 10px;
}

.menu {
    margin-left: 10px;
}

.bottom {
    margin-top: 10px;
}

.categories {
    display: flex;
    justify-content: center;
    margin-top: -20px;
}

.category {
    margin-left: 50px;
    color: #ffffff;
}

.category a {
    color: #ffffff;
    font-size: 15px;
    text-transform: uppercase;
}

.searching {
    max-width: 400px;
    margin: 0 auto;
    transition: all 1s ease-in-out;
    padding: 0 15px;
}

@media (max-width: 1000px) {
    .category {
        margin-left: 25px;
    }
}

@media (max-width: 800px) {
    .search {
        justify-self: auto;
    }

    .category a {
        font-size: 13px;
    }
    
}

@media (max-width: 700px) {
    .wishlist {
        justify-self: center;
        font-size: 20px;
    }

    .signin {
        justify-self: center;
    }

    .signin a {
        font-size: 20px;
    }
    
}

.topRight {
    display: flex;
    align-items: center;
}