.root {
    position: relative;
    background: #ffffff;
    padding: 20px 20px;
    max-height: 400px;
} 

@media (max-width: 800px) {
    .root {
        margin: auto;
    }
}


.itemImage {
    width: 100%;
    max-width: 400px;
    height: auto;

}

.heart {
    position: absolute;
    top: 5px;
    right: 5px;
}

.heart i {
    font-size: 20px;
    cursor: pointer;
}

.title {
    margin-top: 15px;
}

.title span {
    font-weight: 400;
    color: #000000;
    font-size: 18px;
}

.itemFooter {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.price {
}

.price span {
    font-weight: 600;
    color: grey;
}

.red i {
    color: #18564d;
}

.discountedPriceField {
    display: flex;
    align-items: center;
}

.newPrice {
    color: #000000;
    font-size: 16px

}

.oldPrice {
    color: red;
    text-decoration: line-through;
    font-size: 12px;
    display: block;
    margin-left: 10px;
}

.flexRoot {
    display: flex;
    margin-bottom: 15px;
}

.flexTitle {
    margin-top: 0;
    margin-left: 10px;
}

.flexFooter {
    margin-top: 0;
    margin-left: 10px;
}

.actionFlex {
    display: flex;
}

.description {
    margin-left: 10px;
    max-width: 300px;
    margin-top: 15px;
    max-height: 180px;
    overflow-y: auto;
}