.footer {
    z-index: 500;
    background: #017c62;
    padding: 10px 0;
    text-align: center;
    margin-top: 50px;
    position: sticky;
    top: 100%;
    color: #ffffff;
}

.sittings {
    width: 100%;
    display: grid;
    align-items: baseline;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 20px;
    max-width: 1000px;
}


.link {
  color: #ffffff;
  font-size: 18px;
}

.link:hover {
  color: #ffffff;
}

.linkFieldValue {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  color: #ffffff;
}

.linkFieldValue:hover {
  color: #ffffff;
}

.field {
  text-align: left;
  justify-self: center
}

.fielTitle {
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 10px;
}

.fieldValue {
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 10px;
}

.socialList {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.image {
  max-width: 40px;
  max-height: 40px;
  margin-right: 10px;
}

.bottom {
  text-align: center;
  width: 100%;
  height: 42px;
  line-height: 42px;
  font-size: 15px;
  color: #ffffff;
  background: #043d31;
}

@media (max-width: 550px) {
    .sittings {
        display: block;
    }
    .field {
      margin-bottom: 20px;
      text-align: center;
    }
    .socialList {
      justify-content: center;
    }
}
