.root {
    position: relative;
}

.results {
    position: absolute;
    width: 100%;
    max-width: 500px;
    background: #fff;
    border-radius: 5px;
    margin-top: 5px;
    z-index: 100;
}

.result {
    display: block;
    width: 100%;
    padding: 0 15px;
    height: 30px;
    line-height: 30px;
    color: rgb(24, 24, 34);
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.034);
    z-index: 2;
}