.cart {
    font-size: 20px;
    color: #00ff50;
    cursor: pointer;
}

.root {
    position: relative;
    
}

.itemCount {
    position: absolute;
    display: block;
    width: 15px;
    height: 15px;
    top: -8px;
    right: -5px;
    border-radius: 50%;
    text-align: center;
    line-height: 15px;
    background: chartreuse;
    color: #fff;
}