.body {
    display: grid;
    grid-template-columns: 35% 65%;
    margin: 15px auto;
    padding: 10px;
}

.image img{
    width: 100%;
    height: auto;
    max-width: 200px;
}

.title a {
    color: #000;
}

.title a:hover {
    color: #000;
}

.rightActions {
    margin-left: 10px;
    position: relative;
}

.quantity {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 15px;
}

.qtyNumber {
    display: flex;
    align-items: center;
}

.qtyNumber i {
    cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    text-align: center;
    border: none;
    background: #ecece6;
}

.close {
    position: absolute;
    bottom: -20px;
    right: -1px;
    cursor: pointer;
    
}

.closeIcon:hover {
    color: red;
}

.attributeRoot {
    background: none;
}

.attributeName {
    font-size: 16px;
}

.attributeValue {
    font-size: 16px;
}

.price {
    white-space: nowrap;
}