.signinLink {
    color: #ffffff;
    font-size: 18px;
    white-space: nowrap;
    margin-right: 5px;
    cursor: pointer;
}

.signinLinkAccount {
    color: #ffffff;
    font-size: 18px;
    white-space: nowrap;
    margin-right: 25px;
    cursor: pointer;
}

.flex {
    display: flex;
    align-items: center;
}

.icon i {
    font-size: 20px;
    margin-left: 20px;
    color: #00ff50;
}