.addresField {
    display: flex;
    align-items: center;
    background: rgb(212 232 223);
    padding: 0 15px;
    height: 42px;
    line-height: 42px;
    width: 100%;
    margin-bottom: 15px;
}

.addressText {
    color: #878;
    font-size: 16px;
}

.addressValue {
    color: #000;
    font-size: 16px;
    margin-left: 5px;
}