.body {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin-top: 30px;
}

.empty {
    color: #000;
    font-size: 16px;
    text-align: center;
    margin: 15px auto;
}