.root {
    margin-bottom: 20px;
}

.body {
    width: 100%;
    background: #ffffff;
}

.header {
    background-color: hsl(206deg 30% 95%);
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
    justify-content: center;
    cursor: pointer;
}

.headerField {
    text-align: center;
}

.headerTitle {
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}

.billing {
    margin-top: 50px;
}

.addressField {
    margin-top: 50px;
}

.addressTitle {
    text-align: left;
    height: 42px;
    padding: 15px;
    font-size: 18px;
    font-weight: 500;
    width: 100%;
    background-color: hsl(206deg 90% 45%);
    color: #ffffff;
}

.payment {
    margin-top: 30px;
    text-align: left;
    height: 45px;
    font-size: 18px;
    font-weight: 500;
    width: 100%;
    background: hsl(115deg 85% 28%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}

.paymentHeader {
    color: rgb(255, 255, 255);
    font-size: 16px;
}

.paymentValue {
    color: rgb(255, 255, 255);
    font-size: 16px;
    margin-left: 5px;
}

.status {
    display: block;
    color: #ffffff;
    margin-left: 5px;
}

.items {
    margin-top: 15px;
}

.content {
    padding: 10px 15px;
}

@media (max-width: 700px) {
    .root {
        max-width: 500px;
        margin: 15px auto;
    }
    .headerField {
        font-size: 14px !important;
    }
}

@media (max-width: 600px) {

    .header {
        font-size: 14px !important;
        display: block;
    }

    .headerField {
        margin-bottom: 15px;
    }
}
