.root {
    background: #e2d8d8;
    padding: 10px;
    padding-left: 0;
}

.attribute {
    margin-top: 15px;
    display: flex;
    align-items: center;
}

.attributeName {
    color: #878787;
    font-size: 18px;
}

.attributeValueField {
    margin-left: 15px;
}

.attributeValue {
    color: #000;
    font-weight: 500;
    font-size: 18px;
}

.swatchRoot {
    display: flex;
    align-items: center;
    max-width: 120px;
}

.circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.swatch {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #09d4db;
    text-align: center;
    line-height: 25px;
    font-size: 16px;
    cursor: pointer;
    color: #fff;
}